.mainContainer {
    background-color: rgb(197, 247, 199);
    width: 90%;
    height: 100%;
    margin: 20px auto 20px auto;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.mainTitle {
    border-bottom: solid 3px black;
    background-color: aqua;
    padding: 30px;
}
.searchForm{
    margin: 30px;
    border-bottom: solid 3px black;
    border-radius: 5px;
    text-align: center;
}
.searchForm > label,input,button{
    font-size: 35px;
    font-weight: 100px;
    margin: 20px;
}


.bgColer {
    background-color: black;
}

.movieCardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;

    justify-items: center;
}

.movieCardBox {
    margin: 20px;
    padding: 15px;
    width: 80%;
    box-shadow: 0 3px 6px black;
    box-shadow: 0 3px 6px black;
    border-radius: 10px;

}
.movieCardBox > p,h1{
    font-size:  25px;

}

.movieCardBox >img {
    width: 100%;

    border-radius: 10px;
}